<style>
	a:link, a:visited, a:hover, a:active{
		text-decoration: none;
		color: #D5DDE0;
	}
</style>

<div class="module inbox-view">
	<div class="module__title">
		<!--<h1>
		    Inbox View!	  
		</h1>-->
		<!--<h1>{{ meta.title }}</h1>-->
		<h1><a ng-href="/#/inbox">My Inbox</a></h1>
		<h1><a ng-href="/#/deleted">Deleted</a></h1> <!--This is the "My Inbox" big button-->
		<br>
		<hr />
		<br>
		<h1 style="background-color: #505560">{{ profile.title }}</h1>
	</div>
	<!--<pre>{{ data.emails | json }}</pre>-->
</div>	
	<div class="module directive">
		<profile></profile>
	</div>
